.new-post-container {
  width: 60%;
  margin-bottom: 15px;
}

.new-post-image {
  margin: 5px;
}

.new-post-creator {
  font-size: small;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.new-post-title, .new-post-subtitle {
  font-size: large;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.new-post-content {
  font-size: medium;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.button-create {
  font-size: medium;
  margin: 5px;
  padding: 5px;
}